.landing {
  padding: var(--padding);
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-areas:
    "login"
    "title";
  max-width: 1000px;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .landing {
    grid-template-areas: "title login";
  }
}
